<p class="git">Quoting git after <a href="https://github.com/alip/alip.github.com/commit/f1ac5823b802a647984d12e57387ee58f31d1c2d">f1ac582</a> on 2014-01-11T00:28:59+0200:</p>
<blockquote class="git"><pre class="git">The Great Movie Posters:

When You&#39;re Six Tons -- And They Call You Killer -- It&#39;s Hard To Make Friends...
		-- Namu, the Killer Whale (1966)

Meet the Girls with the Thermo-Nuclear Navels!
		-- Dr. Goldfoot and the Girl Bombs (1966)

A GHASTLY TALE DRENCHED WITH GOUTS OF BLOOD SPURTING FROM THE VICTIMS
OF A CRAZED MADMAN&#39;S LUST.
		-- A Taste of Blood (1967)</pre></blockquote>
