<h1>/dev/</h1>
<ul>
  <li><b>exherbo/</b>
    <ul>
      <li><a href="http://dev.exherbo.org/~alip/">~alip</a></li>
      <li><a href="http://git.exherbo.org/?p=dev/alip.git;a=summary">::alip</a></li>
    </ul>
  </li>
  <li><b>github/</b><a href="https://github.com/alip/">alip</a></li>
  <li><b>ohloh/</b><a href="http://www.ohloh.net/accounts/alip/">alip</a></li>
</ul>
<h1>~/</h1>
<ul>
  <li><b>.ssh/</b><a href="{{ site.url }}/keys/id_rsa.pub">id_rsa.pub</a></li>
  <li><b>.gnupg/</b><a href="{{ site.url }}/keys/0x414E32391845F220.asc"></a></li>
</ul>
{% case page.lang %}
{% when 'tr' %}
<h1>~/satranç</h1>
{% else %}
<h1>~/chess</h1>
{% endcase %}
<ul>
  <li><b>chess.com/</b><a href="http://www.chess.com/coach/ali-polatel">coach/ali-polatel</a></li>
  <li><b>ratings.fide.com/</b><a href="http://ratings.fide.com/card.phtml?event=6303196">Ali Polatel</a></li>
</ul>
<h1>~/pub/</h1>
<ul>
  <li><b>antoloji.com/</b><a href="http://uyeler.antoloji.com/ali-polatel/">ali-polatel</a></li>
  <li><b>deviantart/</b><a href="http://kawdjer.deviantart.com/">kawdjer</a></li>
  <li><b>linkedin/</b><a href="http://tr.linkedin.com/in/polatel/">polatel</a></li>
  <li><b>identi.ca/</b><a href="http://identi.ca/alip/">alip</a></li>
  <li><b>twitter/</b><a href="http://twitter.com/hayaliali">hayaliali</a></li>
  <li><b>tuxtweet/</b><a href="http://tuxweet.linux.org.tr/alip/">alip</a></li>
</ul>
{% case page.lang %}
{% when 'tr' %}
<h1>~/hayali</h1>
{% else %}
<h1>~/ali's/</h1>
{% endcase %}
<ul>
  <li><a href="http://www.amazon.com/gp/registry/wishlist/I98RJA7F9QZR">amazon.com</a></li>
  <li><a href="http://www.thinkgeek.com/brain/gimme.cgi?wid=81e125c47">thinkgeek.com</a></li>
</ul>
